@page
@model ProyectoKikDrive.Pages.Rutas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
    <div class="container">


        <h1>Kik Drive </h1>
        <h4 class="text-center">Kik Drive Mejorando el Gestionamineto</h4>
        <h1>Eliminar Ruta</h1>

        <h3>¿Estas seguro que quieres eliminar esta ruta?</h3>
        <div>
            <h4>Rutas</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Rutas.Nombre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Rutas.Nombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Rutas.Tramos)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Rutas.Tramos)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Rutas.CreatedAT)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Rutas.CreatedAT)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Rutas.UpdatedAT)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Rutas.UpdatedAT)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Rutas.Status)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Rutas.Status)
                </dd>
            </dl>

            <form method="post">
                <input type="hidden" asp-for="Rutas.Id" />
                <input type="submit" value="Delete" class="btn btn-warning" />
                <a class="btn btn-warning" asp-page="./Index">Regresar</a>
                <a class="btn btn-warning" asp-page="/CRUDs/SeccionPrincipal">Home</a>
            </form>
        </div>
        </div>